/Commons/target/
/Authorization/target/
/Core/target/
/DataOrganization/target/
/DataWorkflow/target/
/MetaDataManagement/MDM-Admin/target/
/MetaDataManagement/MDM-BaseMetaData/target/
/MetaDataManagement/MDM-Content/target/
/MetaDataManagement/MDM-Core/target/
/MetaDataManagement/MDM-DataWorkflow/target/
/MetaDataManagement/REST-BaseMetaData/target/
/MetaDataManagement/REST-DataOrganization/target/
/MetaDataManagement/REST-DataWorkflow/target/
/MetaDataManagement/REST-Sharing/target/
/MetaDataManagement/REST-UserGroupManagement/target/
/RestInterfaces/BaseMetaDataRestInterface/target/
/RestInterfaces/ClientBase/target/
/RestInterfaces/DataOrganizationRestInterface/target/
/RestInterfaces/DataWorkflowRestInterface/target/
/RestInterfaces/ServiceBase/target/
/RestInterfaces/SharingRestInterface/target/
/RestInterfaces/StagingRestInterface/target/
/RestInterfaces/UserGroupRestInterface/target/
/Scheduler/REST-SchedulerService/target/
/Scheduler/SchedulerJobs/target/
/Scheduler/SchedulerManager/target/
/Scheduler/SchedulerRestInterface/target/
/Staging/Client/target/
/Staging/DataTransferClient/target/
/Staging/Service/target/
/UserInterface/AdminUI/target/
/UserInterface/SimpleMonitoringPortlet/target/
/UserInterface/UICommons7/target/
/Utils/target/
/Documentation/target/
/DataOrganization_Neo4j/target/
/Samples/target/
/Scheduler/JobSchedulerTest/target/
/target/
/RestInterfaces/SchedulerRestInterface/target/
/MetaDataManagement/REST-Scheduler/target/
/MetaDataManagement/MDM-Audit/target/
/RestInterfaces/AuditRestInterface/target/
/MetaDataManagement/REST-Audit/target/
/UserInterface/AdminUI/src/main/webapp/VAADIN/widgetsets/
