/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";
/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mytheme {
    /* Include all the styles from the reindeer theme */
    @include reindeer;

    .v-image-shadow{
        border-right: 1px solid darkgray;
        border-bottom: 1px solid darkgray;
        border-radius: 5px;
        background: -moz-linear-gradient(top,  rgba(206,206,206,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(206,206,206,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }

    .v-image-shadow:hover{
        border-right: 0px solid darkgray;
        border-bottom: 0px solid darkgray;
        background: -moz-linear-gradient(top,  rgba(185,185,185,1) 0%, rgba(230,230,230,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,185,185,1)), color-stop(100%,rgba(230,230,230,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(185,185,185,1) 0%,rgba(230,230,230,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(185,185,185,1) 0%,rgba(230,230,230,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(185,185,185,1) 0%,rgba(230,230,230,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(185,185,185,1) 0%,rgba(230,230,230,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9b9b9', endColorstr='#00e6e6e6',GradientType=0 ); /* IE6-9 */
    }

    .v-label-invisible {
        display:none!important;
    }

    .v-label-visible {
        display:block!important;
    }

    .v-label-help-right{
        color:darkgrey;
        font-size:20px;
        vertical-align:middle;
        text-align:right;
    }

    .v-label-help-left{
        color:grey;
        /* @TODO (101214)
        font-size:20px;
        */
        font-size: 16px;
        vertical-align:middle;
        text-align:left;
    }

    .v-image-menu{
        margin-right:15px;
        padding:2px;
    }

    .v-label-title{
        text-align:center;
    }

    .v-caption-form{
        font-weight:bold;
        .v-captiontext{
            font-size:16px;
        }
    }

    .myorangeboldcenteredlabel{
        color: orange;
        text-align: center;
        font-weight: bold;
    }

    .mycenteredimg{
        text-align: center;
    }

    .mynavigationmargin{
        margin-left: 6px;
    }
    
    .myclickablecomponent {
        cursor: pointer;
    }

    .v-popupview-popup-myfilterposition {

        right: auto !important;
        top: 180px !important;
    }

    .v-caption-myboldcaption{
        font-weight: bold;
    }

    .v-caption-mygreycaption{
        font-weight: bold;
        color: #c4c4c4 !important;
    }

    input.v-textfield-readonly, .black input.v-textfield-readonly, 
    textarea.v-textarea-readonly, .black textarea.v-textarea-readonly {
        background-color: #f5f5f5 !important;
        border: none !important;
    }

    //SIMON stuff
    .v-label-probe-success{
        background: url("img/24x24/green_bar.png") repeat-x!important;
        height: 24px!important;
        margin: 8px -1px 0 0 !important;
        border-right: 1px solid black !important;
    }

    .v-label-probe-failed{
        background: url("img/24x24/red_bar.png") repeat-x!important;
        height: 24px!important;
        margin: 8px -1px 0 0 !important;
        border-right: 1px solid black !important;

    }
    .v-label-probe-updating{
        background: url("img/24x24/blue_bar.png") repeat-x!important;
        height: 24px!important;
        margin: 8px -1px 0 0 !important;
        border-right: 1px solid black !important;
    }

    .v-label-probe-unknown{
        background: url("img/24x24/grey_bar.png") repeat-x!important;
        height: 24px!important;
        margin: 0 -1px 0 0!important;
        border-right: 1px solid black !important;
    }

    .v-label-probe-unavailable{
        background: url("img/24x24/white_bar.png") repeat-x!important;
        height: 24px!important;
        margin: 8px -1px 0 0 !important;
        border-right: 1px solid black !important;
    }

    .v-label-probe-outer-left{
        border-radius:  4px 0px 0px 4px;
    }

    .v-label-probe-outer-right{
        border-radius: 0px 4px 4px 0px;
        border: none!important;
    }
    .v-label-probe-single-probe{
        border-radius:  4px 4px 4px 4px;
        border: none!important;
    }

    .v-label-embedded-simon-logo{
        overflow:hidden;
        z-index:-1!important;
        position:fixed;
        top:70px;
        left:30px;
        width:199px!important;
        height:40px!important;
    }

    .v-label-embedded-simon-logo img{
        width:199px!important;
        height:150px!important;
    }



    //D3 stuff


    //body {
    //  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    //  margin: auto;
    //  position: relative;
    //  width: 960px;
    //}

    //form {
    //  position: absolute;
    //  right: 10px;
    // top: 10px;
    //}

    .node {
        border: solid 1px white;
        font: 10px sans-serif;
        line-height: 12px;
        overflow: hidden;
        position: absolute;
        text-indent: 2px;
    }


    text {
        pointer-events: none;
    }

    .grandparent text {
        font-weight: bold;
    }

    rect {
        fill: none;
        stroke: #fff;
    }

    rect.parent,
    .grandparent rect {
        stroke-width: 2px;
    }

    .grandparent rect {
        fill: orange;
    }

    .grandparent:hover rect {
        fill: #ee9700;
    }

    .children rect.parent,
    .grandparent rect {
        cursor: pointer;
    }

    .children rect.parent {
        fill: #bbb;
        fill-opacity: .5;
    }

    .children:hover rect.child {
        fill: #bbb;
    }
}