/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../valo/valo.scss";
/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mytheme {
    /* Include all the styles from the reindeer theme */
    @include valo;

    .v-label-red-text{
        color:red!important;
        font-size: 9px!important;
        font-weight: bold!important;
    }

    .v-textfield-red-border{
        border-color: red!important;
    }

    .v-image-shadow{
        border-right: 1px solid darkgray;
        border-bottom: 1px solid darkgray;
        border-radius: 5px;
        @include linear-gradient(to bottom, #D4D4D4 2%, #FFFFFF 98%);    
    }

    .v-image-shadow:hover{
        border-right: 0px solid lightgray;
        border-bottom: 0px solid lightgray;
        @include linear-gradient(to bottom, #EEEEEE  2%, #FFFFFF 98%);

    }

    .v-select-twincol-colored > select[class~="v-select-twincol-options"]{
        @include linear-gradient(to bottom, #FFBBBB 2%, #FFECEC 98%);
    }
    .v-select-twincol-colored  > select[class~="v-select-twincol-selections"]{
        @include linear-gradient(to bottom, #B5FFC8 2%, #EAFFEF 98%);
    }

    /*.v-checkbox-yesno > input:checked ~ label::before {
        background: #B5FFC8 !important;
        content: "YES" !important;
        font-family: FontAwesome;
        font-size: 7px !important;
        transition: color 100ms ease 0s;
    }


    .v-checkbox-yesno > input ~ label::before {
        background: #FFBBBB !important;
        content: "NO" !important;
        font-family: FontAwesome;
        font-size: 7px !important;
        transition: color 100ms ease 0s;
    }


    .v-checkbox-yesno > input ~ label::after {
        color:transparent!important;
    }*/

    .v-table-myboldcaption td[class~="v-table-header-cell"]{
        font-weight:bold!important;
        font-size:16px!important
    }

    .v-label-myboldcaption{
        font-weight: bold;
    }

    //AddTriggerComponent
    .v-popupview-popup-toback{
        z-index: 10000!important;
    }

    //MainControlPanel
    .v-label-invisible {
        display:none!important;
    }

    //MainControlPanel
    .v-label-visible {
        display:block!important;
    }

    //LoginInformationBar
    .v-label-help-right{
        color:darkgrey;
        //font-size:20px;
        vertical-align:middle;
        text-align:right;
    }

    //LoginInformationBar
    .v-label-help-left{
        color:grey;
        // font-size: 16px;
        vertical-align:middle;
        text-align:left;
    }

    //LoginInformationBar
    .v-image-menu{
        margin-right:15px;
        padding:2px;
    }

    //LoginInformationBar
    .mynavigationmargin{
        margin-left: 6px;
    }


    //MainView
    .v-label-title{
        text-align:center;
    }

    //ProfileView
    .v-caption-form{
        font-weight:bold;
        .v-captiontext{
            //   font-size:16px;
        }
    }

    //Multiple UI components
    .myclickablecomponent {
        cursor: pointer;
    }
    ////////////////////////////////////////////////////////
    //CSSTokenContainer
    ////////////////////////////////////////////////////////
    .redboldcenteredlabel{
        color: #FF4848;
        text-align: center;
        font-weight: bold;
    }
    .orangeboldcenteredlabel{
        color: #DFDF00;
        text-align: center;
        font-weight: bold;
    }
    .greenboldcenteredlabel{
        color: #2DC800;
        text-align: center;
        font-weight: bold;
    }
    .v-popupview-popup-myfilterposition {
        right: auto !important;
        top: 180px !important;
    }
    .v-caption-myboldcaption{
        font-weight: bold;
    }

    .v-caption-mygreycaption{
        font-weight: bold;
        color: #c4c4c4 !important;
    }


    .v-filterselect-auth_selection{
        color:#c4c4c4!important;
    }

    ////////////////////////////////////////////////////////
    //SiMon Styles
    ////////////////////////////////////////////////////////
    .v-label-probe{
        text-align: center;
        font-weight: bold;
    }
    
    .v-label-probe-success{
        border: 1px solid black;
        @include linear-gradient(to bottom, #B5FFC8 2%, #EAFFEF 98%);      
    }

    .v-label-probe-failed{
        border: 1px solid black;
        @include linear-gradient(to bottom, #FFBBBB 2%, #FFECEC 98%);
    }
    .v-label-probe-updating{
        border: 1px solid black;
        @include linear-gradient(to bottom, #D4D4D4 2%, #FFFFFF 98%);    
    }

    .v-label-probe-unknown{
        border: 1px dashed black;
        @include linear-gradient(to bottom, #D4D4D4 2%, #FFFFFF 98%);    
    }

    .v-label-probe-unavailable{
        border: 1px solid red;
        @include linear-gradient(to bottom, #D4D4D4 2%, #FFFFFF 98%);    
    }

    .v-label-embedded-simon-logo{
        overflow:hidden;
        z-index:-1!important;
        position:fixed;
        top:70px;
        left:30px;
        width:199px!important;
        height:40px!important;
    }

    .v-label-embedded-simon-logo img{
        width:199px!important;
        height:150px!important;
    }



    //D3 stuff


    //body {
    //  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    //  margin: auto;
    //  position: relative;
    //  width: 960px;
    //}

    //form {
    //  position: absolute;
    //  right: 10px;
    // top: 10px;
    //}

    /*    .node {
            border: solid 1px white;
            font: 10px sans-serif;
            line-height: 12px;
            overflow: hidden;
            position: absolute;
            text-indent: 2px;
        }
    
    
        text {
            pointer-events: none;
        }
    
        .grandparent text {
            font-weight: bold;
        }
    
        rect {
            fill: none;
            stroke: #fff;
        }
    
        rect.parent,
        .grandparent rect {
            stroke-width: 2px;
        }
    
        .grandparent rect {
            fill: orange;
        }
    
        .grandparent:hover rect {
            fill: #ee9700;
        }
    
        .children rect.parent,
        .grandparent rect {
            cursor: pointer;
        }
    
        .children rect.parent {
            fill: #bbb;
            fill-opacity: .5;
        }
    
        .children:hover rect.child {
            fill: #bbb;
        }*/
}