<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : logback.xml
    Created on : September 5, 2011, 4:46 PM
    Author     : hartmann-v
    Description: Default logback configuration for KIT Data Manager.
-->
<configuration>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>datamanager.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>datamanager.%d{yyyy-MM-dd}.log</FileNamePattern>
    </rollingPolicy>
  </appender>
  
  <!--Core modules-->
  <logger name="edu.kit.dama.authorization" level="DEBUG" />
  <logger name="edu.kit.dama.dataworkflow" level="WARN" />
  <logger name="edu.kit.dama.staging" level="WARN" />
  <!--Core metadata modules-->
  <logger name="edu.kit.dama.mdm.core" level="DEBUG" />
  <logger name="edu.kit.dama.mdm.admin" level="WARN" />
  <logger name="edu.kit.dama.mdm.basemetadata" level="DEBUG" />
  <logger name="edu.kit.dama.mdm.content" level="WARN" />
  <logger name="edu.kit.dama.mdm.dataorganization" level="WARN" />
  <logger name="edu.kit.dama.mdm.dataworkflow" level="WARN" />
  <logger name="edu.kit.dama.mdm.audit" level="WARN" />
  <!--Common components of REST implementation-->
  <logger name="edu.kit.dama.rest" level="WARN" />
  <!--REST services-->
  <logger name="edu.kit.dama.rest.basemetadata" level="WARN" />
  <logger name="edu.kit.dama.rest.dataorganization" level="WARN" />
  <logger name="edu.kit.dama.rest.dataworkflow" level="WARN" />
  <logger name="edu.kit.dama.rest.staging" level="WARN" />
  <logger name="edu.kit.dama.rest.sharing" level="WARN" />
  <logger name="edu.kit.dama.rest.usergroupmanagement" level="WARN" />
  <logger name="edu.kit.dama.rest.audit" level="WARN" />
  <!--UserInterface related components, e.g. AdminUI-->
  <logger name="edu.kit.dama.ui" level="WARN" />

   <root level="DEBUG">
    <appender-ref ref="FILE" />
  </root>
</configuration>

